<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fadi.tawahud">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tawahud"
        android:usesCleartextTraffic="true">
        <uses-library android:name="org.apache.http.leqcy" android:required="false"></uses-library>
        <activity android:name="com.fadi.tawahud.Sentences"></activity>
        <activity android:name="com.fadi.tawahud.Words" />
        <activity android:name="com.fadi.tawahud.Animals" />
        <activity android:name="com.fadi.tawahud.Numbers" />
        <activity android:name="com.fadi.tawahud.Alpha" />
        <activity android:name="com.fadi.tawahud.Homescreen" />
        <activity android:name="com.fadi.tawahud.Home" />
        <activity android:name="com.fadi.tawahud.Signup" />
        <activity android:name="com.fadi.tawahud.Login" />
        <activity android:name="com.fadi.tawahud.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

</manifest>